<main id="main" class="main">
    <div class="pagetitle">
      <h1>Clients</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/">Accueil</a></li>
          <li class="breadcrumb-item active">Uploader une liste de clients</li>
        </ol>
      </nav>
    </div>

      <mat-card class="form-card" >
        <mat-card-subtitle> Charger la liste des clients | Formats de fichiers supporter (.txt  .csv  .xml  .json)</mat-card-subtitle>
        <div class="form-row row justify-content-center">
          <input hidden (change)="onFileSelected($event)" #fileInput type="file">
          <p style="color: red;"> {{msgError}} </p>

            <mat-card-actions class=" col-lg-4">
                <button style="width: 100%;" type="button" mat-raised-button (click)="fileInput.click()">Chosir un fichier</button>
                <span class="file-name">{{selectedFile?.name}}</span>
            </mat-card-actions>
            <mat-card-actions class="col-lg-3">
              <mat-spinner class="col-lg-1" style="margin-left: 175px;" *ngIf="loading"   [diameter]=40> </mat-spinner>
                <button [disabled]="!selectedFile" *ngIf="!loading" style="width: 60%;" class="btn btn-primary"  (click)="uploadFile()"  >Uploader</button>
            </mat-card-actions>
        </div>
      </mat-card>
  
  </main>
  
  
  
  
  