<main id="main" class="main">
    <div class="pagetitle">
      <h1>Statistique</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/">Accueil</a></li>
          <li class="breadcrumb-item active">Salaire Moyenne par profession</li>
        </ol>
      </nav>
    </div>
    <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <table class="table table-hover  table-bordered">
                <thead> 
                <tr style="text-align: center;">
                  <th scope="col" >#</th>
                  <th scope="col" >Profession</th>
                  <th scope="col">Salaire Moyen (K€)</th>
                </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let salByProfessionItem of salByProfession   let i = index " style="text-align: center;"  >
                    <th  scope="row"> {{i+1}} </th>
                    <td> {{salByProfessionItem.profession}} </td>
                    <td>{{salByProfessionItem.salaire}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
  
  </main>
  
  
  
  
  