<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
       <li class="nav-item"> <a class="nav-link " routerLink="/dashboard"> <i class="bi bi-grid"></i> <span>Accueil</span> </a></li>
       <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#"> <i class="bi bi-person"></i><span>Clients</span><i class="bi bi-chevron-down ms-auto"></i> </a>
          <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
             <li> <a routerLink="/add-clients"> <i class="bi bi-circle"></i><span>Ajouter</span> </a></li>
             <li> <a routerLink="/"> <i class="bi bi-circle"></i><span>Liste</span> </a></li>
          </ul>
       </li>
       <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">  <i class="bi bi-bar-chart"></i><span>Statistique</span><i class="bi bi-chevron-down ms-auto"></i> </a>
          <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
             <li> <a routerLink="/moyenne-salaire"> <i class="bi bi-circle"></i><span>Moyenne des Salaires</span> </a></li>
          </ul>
       </li>
    </ul>
 </aside>