<main id="main" class="main">
    <div class="pagetitle">
      <h1> {{itemClient.nom}} {{itemClient.prenom}}   </h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/">Accueil</a></li>
          <li class="breadcrumb-item active">Details Client</li>
        </ol>
      </nav>
      <button type="button" (click)="backClicked()"  class="btn btn-outline-primary"><span class="bi bi-arrow-left"></span></button>
    </div>
    <section class="section">
        <table class="table table-bordered table-hover table-striped">
            <tbody>
                <tr>
                    <th>Nom</th>
                    <td> {{itemClient.nom}}</td>
                </tr>
                <tr>
                    <th>Prénom</th>
                    <td> {{itemClient.prenom}}</td>
                </tr>
                <tr>
                    <th>Age</th>
                    <td> {{itemClient.age}}</td>
                </tr>
                <tr>
                    <th>Profession</th>
                    <td> {{itemClient.profession}}</td>
                </tr>
                <tr>
                    <th>Salaire (K€)</th>
                    <td> {{itemClient.salaire}}</td>
                </tr>
            </tbody>
        </table>
    </section>
  
  </main>
  
  
  
  
  