<main id="main" class="main">
    <div class="pagetitle">
       <h1>Accueil</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">Accueil</a></li>
             <li class="breadcrumb-item active">Liste des Clients</li>
          </ol>
       </nav>
    </div>
    <section class="section">
      <div style="margin-bottom: 10px;" class="row">
        <div class="col-lg-2"> 
          <input type="text" placeholder="Rechercher" (keyup)="onKey($event)"  [(ngModel)]="search">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <table class="table table-hover  table-bordered">
                <thead> 
                <tr style="text-align: center;">
                  <th scope="col" >#</th>
                  <th scope="col" >Nom</th>
                  <th scope="col" >Prenom</th>
                  <th scope="col" >Age</th>
                  <th scope="col" >Profession</th>
                  <th scope="col" >Salaire (K€)</th>
                  <th scope="col" >Action</th>
                </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let clientItem of listeClient | paginate : {
                    itemsPerPage: size,
                    currentPage: page,
                    totalItems: totalItems
                  };  let i = index " style="text-align: center;"  >
  
                    <th  scope="row">{{ size * (page - 1) + i+1 }}</th>
                    <td > {{clientItem.nom}} </td>
                    <td >{{clientItem.prenom}}</td>
                    <td >{{clientItem.age}} </td>
                    <td >{{clientItem.profession}}</td>
                    <td >{{clientItem.salaire}}</td>
                    <td> 
                        <a routerLink="/page-client-view/{{clientItem.id}}" ><i class="bi bi-eye-fill"></i></a>
                   </td>
                  </tr>
                </tbody>
              </table>
              <div class="col-md-12">
                <pagination-controls
                   previousLabel="Précédent"
                   nextLabel="Suivant"
                   [responsive]=true
                   (pageChange)="handlePageChange($event)"
                 ></pagination-controls>
               </div> 
            </div>
          </div>
        </div>
      </div>
    </section>

 </main>